// Variables
$orange: #fd7e14;
$orange-light: #fff7ed;
$dark: #212529;
$light: #f8f9fa;
$warning: #ffc107;

// Estilos base
body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;

    .text-orange{
        color: $orange;
        &hover{
            color: $dark;
        }
    }
    .btn-orange{
        background-color: $orange;
        color: $light;
        &:hover {
            background-color: darken($orange, 13%);
            color: $light;
        }
    }
    .nav-tabs {
        .nav-link {
            font-weight: 500;
    
            &.active {
                color: $orange;
                border-bottom: 3px solid $orange;
            }
        }
    }

}
// Responsive
@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }

    .search-container {
        .col-md-2, .col-md-3 {
            margin-top: 0.5rem;
        }
    }
}